<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<% include plugin/top-bar.ejs %>
<div id="plist" class="">
    <ul class="shoplist-ul">
        <% for(var i = 0; i < goods.length; i++) { %>
        <li class="shoplist-li">
            <div class="shoplist-li-wrap">
                <div class="p-img">
                    <a target="_blank"
                       href="<%= goods[i].href%>">
                        <img width="220px" height="220px" src="<%= goods[i].image %>"/>
                    </a>
                </div>
                <div class="p-price"><strong>￥<%= goods[i].price %></strong></div>
                <div class="p-name">
                    <a target="_blank"
                       href="<%= goods[i].href%>">
                        <%= goods[i].name %>
                    </a>
                </div>
                <div class="p-operate">
                        <a onclick="addToCar(<%= goods[i].id %>)" target="_blank" class="p-o-addcart">加入结算单</a>
                </div>

            </div>
        </li>
        <% } %>
    </ul>
</div>
<div class="goods-pageBar">
    <div class="page-bar-page">
        <div class="page-wrap page-siblings icon-tag">
            <a trace="srp_bottom_pageup" title="上一页"
               href="http://s.taobao.com/list?spm=a219r.lm893.16.1.MAXz88&amp;q=%C3%D7&amp;cat=50006843&amp;style=grid&amp;seller_type=taobao&amp;tab=all&amp;app=list&amp;s=0"
               class="page-prev icon-disable">
                上一页
            </a></div>
        <div class="page-wrap"><span class="page-cur">1</span></div>
        <div class="page-wrap">
            <div class="bg"></div>
            <a trace="srp_bottom_page2" class="page"
               href="http://s.taobao.com/list?spm=a219r.lm893.16.2.MAXz88&amp;q=%C3%D7&amp;cat=50006843&amp;style=grid&amp;seller_type=taobao&amp;tab=all&amp;app=list&amp;s=0"
               title="第2页" data-spm-anchor-id="a219r.lm893.16.2">2</a></div>
        <span class="page-wrap">...</span>

        <div class="page-wrap page-siblings icon-tag">
            <a trace="srp_bottom_pagedown" title="下一页"
               href="http://s.taobao.com/list?spm=a219r.lm893.16.6.MAXz88&amp;q=%C3%D7&amp;cat=50006843&amp;style=grid&amp;seller_type=taobao&amp;tab=all&amp;app=list&amp;s=0"
               class="page-next ">下一页</a></div>
    </div>
    <div class="page-bar-count"><span>共</span><span class="b">100</span><span>页</span></div>
    <div class="page-bar-form">
        <label>去第</label>
        <input class="page-num" value="2" name="page" type="text">
        <span class="anim">页</span>
        <a class="btn-jump">确定</a>
    </div>
</div>
</body>
</html>